<!-- Header -->
<header fxLayout="column">

  <!-- The site wrapper keeps the header and navigation centered -->
  <div class="header-content" fxLayout="row" fxLayoutAlign="center center">
    <div class="masthead site-wrapper" fxLayout="row" fxLayoutAlign="space-between center" fxFlex>

      <!-- Logo -->
      <a class="logo" href="{{ site.baseUrl }}">{{ site.title }}</a>

      <!-- Show the social media links when the site is wide -->
      <div fxHide.xs="true">
        <button mat-icon-button>
          <fa-icon class="fa-lg" [icon]="site.email" (click)="openEmailDialog()"></fa-icon>
        </button>
        <button mat-icon-button *ngFor="let account of socialMedia">
          <a [href]="account.url">
            <fa-icon class="fa-lg" [icon]="account.icon"></fa-icon>
          </a>
        </button>
      </div>

      <!-- Show the mobile menu button if the site is narrow -->
      <div fxHide fxShow.xs="true">
        <button mat-icon-button (click)="mobileMenu()">
            <fa-icon class="fa-2x" [icon]="site.mobileMenu.icon"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <!-- Navigation -->
  <nav class="menu" fxLayout="row" fxLayoutAlign="center center" fxHide.xs="true">
    <a routerLink="home" routerLinkActive="active">Home</a>
  </nav>

  <!-- Mobile navigation -->
  <nav class="mobile-menu" fxLayout="column" fxHide fxShow.xs="true" *ngIf="site.mobileMenu.show" [@toggleMobileMenu]>
    <div class="social" fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-icon-button>
        <fa-icon class="fa-lg" [icon]="site.email" (click)="openEmailDialog()"></fa-icon>
      </button>
      <ng-container *ngFor="let account of socialMedia">
        <a [href]="account.url">
          <button mat-icon-button>
            <fa-icon class="fa-lg" [icon]="account.icon"></fa-icon>
          </button>
        </a>
      </ng-container>
    </div>
    <div class="menu" fxLayout="column">
      <a routerLink="home" routerLinkActive="active" (click)="mobileMenu()">Home</a>
    </div>
  </nav>

</header>